@charset "utf-8";
@import "normalize";
@import "animate";

body {
  background: image-url('bg.png') center center no-repeat fixed;
  background-size: cover;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#canvas {
  top: 0;
  left: 0;
  position: absolute;
}

.logo img {
  margin-top: 20em;
  max-width: 80%;
}